menu "Smartknob-HA SDK Configuration"
	
	choice WiFi Settings
		config WIFI_AP_MODE
            bool "WiFi access point mode?"
        config WIFI_SSID
            string "WiFi SSID"
        config WIFI_PASSWD
            string "WiFi Password"
	endchoice
endmenu